# Variables usadas por Astro
SENDER_CONTACT_EMAIL=
WHATSAPP_NUMBER=
PHONE_NUMBER=
PUBLIC_ADDRESS=
GTAG_NUMBER=
PUBLIC_CONTACT_ENDPOINT=
PUBLIC_HCAPTCHA_SITEKEY=

# Variables usadas por Apache/PHP en tiempo de ejecución
MAILER_DSN=
CONTACT_FORM_TO_EMAIL=
CONTACT_FORM_FROM_EMAIL=
CONTACT_FORM_FROM_NAME=
CONTACT_HCAPTCHA_SECRET=
CONTACT_ALLOWED_ORIGIN=
