---

---
<div id="clientes" class="bg-gray-50 py-24 sm:py-22 ">
  <div class="mx-auto max-w-270 px-6 lg:px-8">
    <div class="mx-auto max-w-7xl lg:mx-20">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl text-center">Clientes</h2>
      <p class="mt-2 text-lg/8 text-gray-600 text-center">A lo largo de nuestra trayectoria profesional, hemos tenido el privilegio de colaborar con clientes que han confiado en nosotros para hacer realidad sus proyectos. Estos son algunos de los nombres que han formado parte de nuestro camino, compartiendo objetivos, desafíos y logros.</p>
  </div>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-5 sm:gap-x-1 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <a href="https://villarrealcf.es">
        <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1" src="/images/customers/villarreal.png" alt="Transistor" width="158" height="48">
        <p class="text-center">Villarreal Cf</p>
      </a>
      <a href="https://www.transgrau.es">
        <img class="col-span-2 max-h-22 w-full object-contain lg:col-span-1" src="/images/customers/transgrau.png" alt="Reform" width="158" height="48">
      </a>
      <a href="https://actm.es">
        <img class="col-span-2 max-h-32 w-full object-contain lg:col-span-1" src="/images/customers/actm.png" alt="Tuple" width="158" height="48">
      </a>
      <a href="https://www.alcorense.com">
        <img class="col-span-2 max-h-20 w-full object-contain sm:col-start-2 lg:col-span-1" src="/images/customers/alcorense.png" alt="SavvyCal" width="158" height="48">
      </a>
      <a href="https://www.enfervalencia.org">
        <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="/images/customers/colenfermeria.png" alt="Statamic" width="158" height="48">
      </a>
      <a>
        <img class="col-span-2 max-h-24 w-full object-contain lg:col-span-1" src="/images/customers/finogomez.png" alt="Reform" width="158" height="48">
      </a>
      <a href="https://www.magicworldresort.com">
        <img class="col-span-2 col-start-2 max-h-20 w-full object-contain sm:col-start-auto lg:col-span-1" src="/images/customers/marinador.png" alt="Statamic" width="158" height="48">
      </a>
      <a href="https://insca.com">
        <img class="col-span-2 max-h-22 w-full object-contain sm:col-start-2 lg:col-span-1" src="/images/customers/insca.png" alt="SavvyCal" width="158" height="48">
      </a>
      <a href="https://gransimenuts.org">
        <img class="col-span-2 max-h-42 w-full object-contain lg:col-span-1" src="/images/customers/gransimenuts.png" alt="Tuple" width="158" height="48">
      </a>
      <a>
        <img class="col-span-2 col-start-2 max-h-22 w-full object-contain sm:col-start-auto lg:col-span-1" src="/images/customers/escriche.png" alt="Statamic" width="158" height="48">
      </a>
    </div>
  </div>
</div>
