---
// src/pages/blog/index.astro
---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/blog/1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
  </head>
  <body></body>
</html>
