---
const year = new Date().getFullYear();
---

<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 pt-16 pb-6 sm:px-6 lg:px-6 lg:pt-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex justify-center text-red-800 sm:justify-start">
          <img src="/images/brand/logo.webp" alt="Logo Empresa" class="w-24 h-auto md:w-32 lg:w-40">
        </div>

        <p class="mt-6 max-w-md text-center leading-relaxed text-gray-500 sm:max-w-xs sm:text-left">
          INODE64 es una empresa especializada en soluciones informáticas basadas en software libre. Consulta nuestros servicios.
        </p>

        <ul class="mt-8 flex justify-center gap-8 sm:justify-center md:gap-7 sm:max-w-xs">
          <li>
            <a
              href="https://wa.me/34607398682"
              rel="noreferrer"
              target="_blank"
              class="text-red-800 transition hover:bg-red-700"
            >
              <img src="/icons/whatsapp.svg" alt="Icono de WhatsApp" />
            </a>
          </li>

          <li>
            <a
              href="http://es.linkedin.com/pub/francisco-javier-f%C3%A9lix-belmonte/40/798/a63"
              rel="noreferrer"
              target="_blank"
              class="text-red-800 transition hover:text-red-700/75"
            >
              <img src="/icons/linkedin.svg" alt="Icono de Linkedin" />
            </a>
          </li>

          <li>
            <a
              href="http://www.youtube.com/user/inode64"
              rel="noreferrer"
              target="_blank"
              class="text-red-800 transition hover:text-red-700/75"
            >
              <img src="/icons/youtube.svg" alt="Icono de YouTube" />
            </a>
          </li>

          <li>
            <a
              href="https://twitter.com/inode64"
              rel="noreferrer"
              target="_blank"
              class="text-red-800 transition hover:text-red-700/75"
            >
              <img src="/icons/twitter.svg" alt="Icono de Twitter" />
            </a>
          </li>

          <li>
            <a
              href="https://github.com/inode64"
              rel="noreferrer"
              target="_blank"
              class="text-red-800 transition hover:text-red-700/75"
            >
              <img src="/icons/github.svg" alt="Icono de Github" />
            </a>
          </li>
          <li>
            <a
              href="http://www.flickr.com/photos/inode64/"
              rel="noreferrer"
              target="_blank"
              class="text-red-800 transition hover:text-red-700/75"
            >
              <img src="/icons/flickr.svg" alt="Icono de Flickr" />
            </a>
          </li>
        </ul>
      </div>

      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2"
      >
        <div class="text-center sm:text-left">
        <p class="text-lg font-medium text-gray-900">Sobre INODE64</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li><a class="text-gray-700 transition hover:text-gray-700/75" href="/about">Quiénes somos</a></li>
            <li><a class="text-gray-700 transition hover:text-gray-700/75" href="/#clientes">Nuestros clientes</a></li>
            <li><a class="text-gray-700 transition hover:text-gray-700/75" href="/blog">Blog & Noticias</a></li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Servicios</p>

          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                class="text-gray-700 transition hover:text-gray-700/75"
                href="/services/mantenimiento-de-sistemas-windows"
              >
                Mantenimiento de sistemas
              </a>
            </li>

            <li>
              <a
                class="text-gray-700 transition hover:text-gray-700/75"
                href="/services/hosting-web-de-alto-rendimiento"
              >
                Hosting Web
              </a>
            </li>

            <li>
              <a
                class="text-gray-700 transition hover:text-gray-700/75"
                href="/services/marketing-digital-y-desarrollo-web"
              >
                Marketing digital
              </a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Empresa</p>

          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/faqs">FAQs</a>
            </li>
            <li>
              <a class="text-gray-700 transition group-hover:text-gray-700/75" href="/resources">Recursos</a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Contáctanos</p>

          <ul class="mt-8 space-y-4 text-sm">
            <li class="-mt-0.5 flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end">
                <img src="/icons/mail.svg" alt="Icono de correo" class="max-w-6" />
                <a href="mailto:sat@inode64.com" class="flex-1 text-gray-700">sat@inode64.com</a>
            </li>

            <li class=" -mt-0.5 flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end">
              <img src="/icons/phone.svg" alt="Icono de teléfono" class="max-w-6" />
              <span class="flex-1 text-gray-700">+34 964 213 105</span>
            </li>

            <li class="-mt-0.5 flex items-start justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end">
              <img src="/icons/location.svg" alt="Icono de localización" class="max-w-6" />
              <address class="-mt-0.5 flex-1 text-gray-700 not-italic">C/ Picaso, 5 - Bajo 12005 Castellón, Spain</address>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-gray-100 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-gray-500">
          <span class="block sm:inline">Todos los derechos reservados.</span>

          <a class="inline-block text-red-800 underline transition hover:text-red-700/75" href="/terms">Términos</a>
          <span>&middot;</span>
          <a class="inline-block text-red-800 underline transition hover:text-red-700/75" href="/privacy">Privacidad</a>
          <span>&middot;</span>
          <a class="inline-block text-red-800 underline transition hover:text-red-700/75" href="/cookies">Cookies</a>
        </p>
        <p class="mt-4 text-sm text-gray-500 sm:order-first sm:mt-0">&copy; {year} INODE64 Alternativas Informáticas</p>
      </div>
    </div>
  </div>
</footer>
